<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>404页面</title>

<style>
</style>
</head>
<!--
        	作者：1007623893@qq.com
        	时间：2019-03-06
        	描述：404page
        -->
<body>

<link href="/css/404page.css" rel="stylesheet">

<svg viewBox="0 0 960 300">
	<symbol id="s-text">
		<text text-anchor="middle" x="50%" y="80%">404</text>
	</symbol>

	<g class="g-ants">
		<use xlink:href="#s-text" class="text"></use>
		<use xlink:href="#s-text" class="text"></use>
		<use xlink:href="#s-text" class="text"></use>
		<use xlink:href="#s-text" class="text"></use>
	</g>
</svg>
<div class="content" style="text-align:center;margin:auto;line-height: 200px;">
    <h1>抱歉，亲，您要的页面未找到</h1>
    <a th:href="@{/}">返回安家首页</a>
</div>
</body></html>