<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="referrer" content="no-referrer"/>
	<title>安家</title>
</head>
<script src="js/jquery-2.1.1.min.js" th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
<link href="css/citystyle.css" th:href="@{/css/citystyle.css}" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/css/main.css}"/>

<style>
	.house_img
	{
		height:150px;
	}
	.footer_banner
	{
		width: 100%;
		padding: 0px ;
		background:#06266F;
	}
	.footer_banner ul
	{
		display: inline-block;
	}
	.footer_banner ul li
	{
		display: inline-block;
	}
	.footer_link
	{
		text-decoration: none;
		font-family: "微软雅黑";
		color:#FFFFFF;
		font-weight: 200;
	}
	.footer-link span
	{
		text-decoration: none;
		font-family: "微软雅黑";
		color:#FFFFFF;
		font-weight: 200;
	}

</style>
<body>
<!--城市列表-->
<div class="selcity" id="allCity" style="display:none;">
	<table >
		<tbody class="cityTable">
		<tbody>
		<tr>
			<td><a href="#">苏州</a></td>
			<td><a href="#">上海</a></td>
			<td><a href="#">广州</a></td>
			<td><a href="#">深圳</a></td>
			<td><a href="#">北京</a></td>
			<td><a href="#">天津</a></td>
			<td><a href="#">重庆</a></td>
			<td><a href="#">南京</a></td>
		</tr>
		<tr>
			<td><a href="#">合肥</a></td>
			<td><a href="#">厦门</a></td>
			<td><a href="#">兰州</a></td>
			<td><a href="#">桂林</a></td>
			<td><a href="#">贵阳</a></td>
			<td><a href="#">石家庄</a></td>
			<td><a href="#">哈尔滨</a></td>
			<td><a href="#">银川</a></td>
		</tr>
		<tr>
			<td><a href="#">郑州</a></td>
			<td><a href="#">武汉</a></td>
			<td><a href="#">长沙</a></td>
			<td><a href="#">南昌</a></td>
			<td><a href="#">沈阳</a></td>
			<td><a href="#">呼和浩特</a></td>
			<td><a href="#">西宁</a></td>
			<td><a href="#">西安</a></td>
		</tr>
		<tr>
			<td><a href="#">济南</a></td>
			<td><a href="#">太原</a></td>
			<td><a href="#">成都</a></td>
			<td><a href="#">乌鲁木齐</a></td>
			<td><a href="#">拉萨</a></td>
			<td><a href="#">昆明</a></td>
			<td><a href="#">杭州</a></td>
			<td><a href="#"></a></td>
		</tbody>
	</table>
	<div class="none"><a id="foldin" href="#">收起</a></div>
</div>
<!--导航栏-->
<div class="container home_header">
	<div  id="headerbar" class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a th:href="@{/}" class="navbar-brand"></a>
			</div>
			<label id="toggle-label" class="visible-xs-inline-block" for="toggle-checkbox">MENU</label>
			<input class="hidden" id="toggle-checkbox" type="checkbox">
			<div class="hidden-xs">
				<ul class="nav navbar-nav" style="font-family: '微软雅黑';color: #FFFFFF;">
					<li><a th:href = "@{/}" style="font-family: '微软雅黑';color: #FFFFFF;font-weight: 600;">首页</a></li>
					<li><a th:href = "@{/building}" style="font-family: '微软雅黑';color: #FFFFFF;font-weight: 600;">小区</a></li>
					<li><a th:href="@{/city}" style="font-family: '微软雅黑';color: #FFFFFF;font-weight: 600;">历史房价</a></li>
					<li><a th:href="@{/calculator}" style="font-family: '微软雅黑';color: #FFFFFF;font-weight: 600;">工具</a></li>
					<li><a th:href="@{/wenda(offset=0)}" style="font-family: '微软雅黑';color: #FFFFFF;font-weight: 600;">交流</a></li>
					<li class="i1" th:if="${session.CityName} != null"><a id = "cityname" th:text = "${session.CityName}"  href="#" style="font-family: '微软雅黑';color: #FFFFFF;background: rgba(128,128,128,0.5)">苏州</a> </li>
					<li class="i1" th:if="${session.CityName} == null"><a id = "cityname"  href="#" style="font-family: '微软雅黑';color: #FFFFFF;background: rgba(128,128,128,0.5)">苏州</a> </li>
					<li class="i2" id="changeCity"><a href="#" style="font-family: '微软雅黑';color: #FFFFFF;font-style: italic;font-size:5px ">[切换城市]</a></li>
				</ul>
				<ul th:if="${user} == null"class="nav navbar-nav navbar-right">
					<li><a th:href="@{/loginwin}" style="font-family: '微软雅黑';color: #FFFFFF;">登录</a></li>
					<li><a th:href="@{/loginwin}" style="font-family: '微软雅黑';color: #FFFFFF;">注册</a></li>
				</ul>
				<ul th:if="${user} != null"class="nav navbar-nav navbar-right">
					<li><a th:text = "'您好,' + ${user.username}" style="font-family: '微软雅黑';color: #FFFFFF;"></a></li>
					<li><a th:href="@{/logout}" style="font-family: '微软雅黑';color: #FFFFFF;">退出</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--空白-->
	<div class="row">
		<br/><br/><br/><br/><br/>
	</div>
	<!--口号栏-->
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<h1 style="text-align: center;font-family:'微软雅黑';color:#FFFFFF;font-weight:700;font-size:48px">此处安心是吾家</h1>
		</div>
		<div class="col-sm-3"></div>
	</div>
	<!--搜索栏-->
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-5" style="padding: 0px">
			<input type="text" class="form-control input-lg " id="searchContent" placeholder="输入小区，城市，区域查询房价">
		</div>
		<div class="col-sm-2" style="padding: 0px">
			<button id="buildingSubmit" class="btn btn-lg" style="background: #1a73e8;color: #FFFFFF">开始搜索</button>
		</div>
		<div class="col-sm-2"></div>
	</div>
	<!--脚注-->
	<div class="row"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
</div>

<!--中层导航-->
<div class="container middle-banner" >
	<div class="row">
		<br/><br/>
	</div>
	<div class="row">
		<div class="col-sm-4 ">
			<a th:href="@{/building}" class="middle_link" style="text-decoration:none;display: inline-block;">
				<img class="middle-img" src="img/house.png" style="margin: 0 auto;"/>
				<b style="width:120px;color: #1a73e8">纵览小区</b>
			</a>
		</div>
		<div class="col-sm-4 ">
			<a th:href="@{/predict}" class="middle_link" style="text-decoration:none;display: inline-block;">
				<img  class="middle-img" src="img/history.png" style="margin: 0 auto;"/>
				<b style="width:120px;color: #1a73e8">房价预测</b>
			</a>
		</div>
		<div class="col-sm-4 ">
			<a th:href = "@{/map}" class="middle_link" style="text-decoration:none;display: inline-block;">
				<img  class="middle-img" src="img/location.png" style="margin: 0 auto;"/>
				<b style="width:120px;color: #1a73e8">地图找房</b>
				<p ></p>
			</a>
		</div>
	</div>
	<br/><br/><br/>
</div>

<!--小区推荐-->
<div class="container house_banner" >
	<div class="row" style="text-align: center;">
		<h2 style="font-family: '微软雅黑';">小区推荐</h2>
	</div>
	<div class="row" style="text-align: center;">
		<h6 class="text-muted">纵览小区，恋上这座城</h6>
	</div>
	<!--小区展示-->
	<div class="row">
		<div class="col-sm-1"></div>
		<!--三个小区介绍-->
		<div class = "col-sm-10">
			<!--三个小区-->
			<ul id = "buildingShow" class="list-inline"></ul>
		</div>
		<div class="col-sm-1"></div>
	</div>
	<br/><br/><br/>
</div>


<!--侧边导航栏-->
<div class="fix-right-v3" id="back-top" style="height: 100%;">
	<div>
		<ul class="sidebar-ul">
			<li><a class="fix-right-v3-icon" th:href="@{/calculator}"  style="background: url(img/calculator.png);" th:style="'background:url('+ @{/img/calculator.png} +');'"  data-content ="计算"   data-placement ="left"   ></a></li>
			<li><a class="fix-right-v3-icon" href="#"  th:style="'background:url('+ @{/img/service.png} +');'"  data-content ="客服"   data-placement ="left"  data-toggle="modal" data-target="#ServiceModal" data-whatever="@mdo" ></a></li>
			<li><a class="fix-right-v3-icon" href="#"  th:style="'background:url('+ @{/img/back.png} +');'"  data-content ="反馈"   data-placement ="left" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"></a></li>
		</ul>
	</div>
</div>

<footer class="container footer_banner">
		<div class="row">
			<br /><br /><br />
		</div>
		<!--底部导航栏-->
		<div class="row" style="border-bottom: 2px #A6E1EC;">
			<ul >
				<li><a class="footer-link" href="#"><span>关于安家</span></a></li>
				<li><a class="footer-link" href="#"><span>联系我们</span></a></li>
				<li><a class="footer-link" href="#"><span>加入我们</span></a></li>
				<li><a class="footer-link" href="#"><span>隐私申明</span></a></li>
			</ul>
		</div>
		<div class="row" style="display: inline-block;">
			<ul style="display: block;">
				<li><span class="text-muted" style="font-family: '微软雅黑'; font-size: 16px;">客服电话</span></li>
				<li><span style="font-family: '微软雅黑'; font-size: 16px;color: #FFFFFF;">741-741-74741</span></li>
			</ul>
		</div>
</footer>



</body>


<!--反馈与意见-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel" style="font-weight: 500; color: #9ACD32;font-size:25px;">反馈与意见</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="recipient-name" class="control-label">请输入您的联系方式(手机，邮箱，qq等)</label>
						<input type="text" class="form-control" id="recipient-name">
					</div>
					<div class="form-group">
						<label for="message-text" class="control-label">请输入您对安家的建议</label>
						<textarea class="form-control" id="message-text"></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-success" data-dismiss="modal"  >提交</button>
			</div>
		</div>
	</div>
</div>


<!--客服-->
<div class="modal fade" id="ServiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title" id="myModalLabel">客服</h3>
			</div>
			<div class="modal-body">
				<h4>客服联系方式 qq:1007623893<small>周一到周五：9:00--15:00</small></h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
    $(function(){
        $('a').popover({
            html: true,
            trigger: "hover",
            placement: "left",
            delay: {hide: 100}
        }).on('shown.bs.popover', function (event) {
            var that = this;
            $(this).parent().find('div.popover').on('mouseenter', function () {
                $(that).attr('in', true);
            }).on('mouseleave', function () {
                $(that).removeAttr('in');
                $(that).popover('hide');
            });
        }).on('hide.bs.popover', function (event) {
            if ($(this).attr('in')) {
                event.preventDefault();
            }
        });
		/*城市切换*/
        $("#changeCity").click(function(a){
            $("#allCity").slideDown(300);
            a.stopPropagation();
            $(this).blur()
        });

        $("#allCity").click(function(a){
            a.stopPropagation()
        });

        $(document).click(function(a){
            a.button!=2&&$("#allCity").slideUp(300)
        });

        $("#foldin").click(function(){
            $("#allCity").slideUp(300)
        });

        $(".cityTable tr td a").click(function () {
            var name = this.text;
			$.ajax({
				url:'/location/'+name,
				type:'get',
				success: function (data) {
				console.log("切换成功");
                window.location.reload();
            },
				error:function () {
					alert("切换城市失败！");
                }
			});
        });

        $("#buildingSubmit").click(function () {
            var content = $("#searchContent").val();
            location.href = '/buildingContent/'+content;
        })
    })

	$(document).ready(function () {
		var name = $("#cityname").text();
		$.ajax({
			url:'buildingShow/'+name,
			dataType:'json',
			type:'get',
			success:function (data) {
				var json = data.buildingList;
                for(var i = 0; i< json.length;++i)
				{
				    $("#buildingShow").append('<li>' +'<a style="text-decoration: none" href="/buildingInfo/'+json[i].id+'"><h3>'+json[i].name+'</h3></a>'+
							'<img src="'+json[i].url+'" style="height: 250px">'+

						'</li>');
				}
            }
		})
    })
</script>
</html>
