<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>房价显示</title>
	</head>
	<script src="js/jquery-2.1.1.min.js" th:src="@{/js/jquery-2.1.1.min.js}"></script>
	<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>	
	<link rel="stylesheet" type="text/css" href="css/static_city.css" th:href="@{/css/static_city.css}"/>
	<link href="css/citystyle.css" th:href="@{/css/citystyle.css}" type="text/css" rel="stylesheet" />
	<script src="js/echarts.js" th:src="@{/js/echarts.js}"></script>
	<link th:href="@{/css/footer.css}" type="text/css" rel="stylesheet"/>
	<body>
	<!--引用头部文件-->
	<header>
		<div>
			<div th:include = "wenda/header"></div>
		</div>
	</header>
	
	<!--网站标题-->
	<div class="container" >	
		<div class="row"style="margin:0;width:100%;text-align: center;">
			<div class=" jumbotron">
			  <h2>历史房价</h2>
			  <h5 style="color:#D8BFD8;">历史波动尽在掌握</h5>
			</div>
		</div>	
	</div>
	
	<!--选择框-->
	<div class="container">
		<!--location-->
		<div class="row" >
			<div class="col-sm-1"></div>
			<div class = "col-sm-10 location_title">
				<ul class="location_title_ul">
					<li><span style="font-weight: 600;font-size: 16px;">位置:</span></li>
					<li class="location_title_ul_li"><span style="font-weight: 400;font-size: 16px;">按区域<img th:src="@{/img/down.svg}" style="height: 12px;width:12px;"></img></li>
				</ul>
			</div>
			<div class="col-sm-1"></div>			
		</div>
		<!--area-->
		<div class="row" >
			<div class="col-sm-1"></div>
			<div class = "col-sm-10 location_area_title">
				<ul class="location_area_ul">			
				</ul>
			</div>
			<div class="col-sm-1"></div>			
		</div>
	</div>

	<!--数据展示-->
	<div class="container">
		<div class="row">
			<div class="col-sm-1" style="text-align: center">
			</div>
			<div id="main1" class="col-sm-10">
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>

	<!--对比数据展示-->
	<div class="container">
		<div class="row">
			<div class="col-sm-1" style="text-align: center">
			</div>
			<div id="main2" class="col-sm-10">
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>




	<footer class="container footer_banner">
		<div class="row">
			<br /><br /><br />
		</div>
		<!--底部导航栏-->
		<div class="row" style="border-bottom: 2px #A6E1EC;">
			<ul >
				<li><a class="footer-link" href="#"><span>关于安家</span></a></li>
				<li><a class="footer-link" href="#"><span>联系我们</span></a></li>
				<li><a class="footer-link" href="#"><span>加入我们</span></a></li>
				<li><a class="footer-link" href="#"><span>隐私申明</span></a></li>
			</ul>
		</div>
		<div class="row" style="display: inline-block;">
			<ul style="display: block;">
				<li><span class="text-muted" style="font-family: '微软雅黑'; font-size: 16px;">客服电话</span></li>
				<li><span style="font-family: '微软雅黑'; font-size: 16px;color: #FFFFFF;">741-741-74741</span></li>
			</ul>
		</div>
	</footer>
	</body>
	

    <script type="text/javascript">
        $(function(){
            /*城市切换*/
            $(".cityTable tr td a").click(function () {
                var name = this.text;
                $.ajax({
                    url:'/location/'+name,
                    type:'get',
                    success: function (data) {
                        console.log("切换成功");
                        window.location.reload();
                    },
                    error:function () {
                        alert("切换城市失败！");
                    }
                });
            });
            /*城市切换*/
            $("#changeCity").click(function(a){
                $("#allCity").slideDown(300);
                a.stopPropagation();
                $(this).blur()
            });

            $("#allCity").click(function(a){
                a.stopPropagation()
            });

            $(document).click(function(a){
                a.button!=2&&$("#allCity").slideUp(300)
            });

            $("#foldin").click(function(){
                $("#allCity").slideUp(300)
            });

            /*点击切换区域*/
            $(document).on("click", "#localarea", function () {
                var name = this.text;
                var ID = $(this).find('span').attr('value');
                $.ajax({
                    url:'/city/priceByID/'+ID,
                    type: 'get',
                    dataType:'json',
                    success:function (data) {
                        var json = data.priceList;
                        console.log(json);
                        var price = [];
                        var time = [];
                        for(var i = 0; i < json.length; i++ )
                        {
                            price.push(json[i].price);
                            time.push(json[i].Time);
                        }
                        // 历史走势图
                        var myChart1 = echarts.init(document.getElementById('main1'));
                        var option = {
                            title: {
                                text: name + '历史房价走势图',
                                left: 10
                            },
                            toolbox: {
                                feature: {
                                    dataZoom: {
                                        yAxisIndex: false
                                    },
                                }
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'shadow'
                                }
                            },
                            grid: {
                                bottom: 90
                            },
                            dataZoom: [{
                                type: 'inside'
                            }, {
                                type: 'slider'
                            }],
                            xAxis: {
                                data: time,
                                silent: false,
                                splitLine: {
                                    show: false
                                },
                                splitArea: {
                                    show: false
                                }
                            },
                            yAxis: {
                                splitArea: {
                                    show: false
                                }
                            },
                            series: [{
                                type: 'bar',
                                data: price
                            }]
                        };
                        myChart1.setOption(option);
                        window.onresize = function (){

                            myChart1.resize();
                        }
                    },
                    error:function (errorMsg) {
                        alert("房价请求失败");
                    }
                });

                $.ajax({
                    url:"/city/FirstPriceList/" + name,
                    type:'get',
                    dataType: 'json',
                    success:function (data) {
                        var json = data.result;
                        console.log(json);
                        var price = [];
                        var name = [];
                        for(var i = 0; i < json.length; i++ )
                        {
                            price.push(json[i].price);
                            name.push(json[i].name);
                        }

                        var myChart2 = echarts.init(document.getElementById('main2'));
                        option = {
                            title: {
                                text:'区域房价对比图',
                            },
                            xAxis: {
                                data: name,
                                axisLabel: {
                                    inside: true,
                                    textStyle: {
                                        color: '#fff'
                                    }
                                },
                                axisTick: {
                                    show: false
                                },
                                axisLine: {
                                    show: false
                                },
                                z: 10
                            },
                            yAxis: {
                                axisLine: {
                                    show: false
                                },
                                axisTick: {
                                    show: false
                                },
                                axisLabel: {
                                    textStyle: {
                                        color: '#999'
                                    }
                                }
                            },
                            dataZoom: [
                                {
                                    type: 'inside'
                                }
                            ],
                            series: [
                                { // For shadow
                                    type: 'bar',
                                    itemStyle: {
                                        normal: {color: 'rgba(0,0,0,0.05)'},
                                        label:
											{
											    show:true,
												position:'top',

											}
                                    },
                                    barGap:'-100%',
                                    barCategoryGap:'40%',
                                    animation: false
                                },
                                {
                                    type: 'bar',
                                    itemStyle: {
                                        label:
											{
                                                show:true,
                                                position:'top',
											},
                                        normal: {
                                            color: new echarts.graphic.LinearGradient(
                                                0, 0, 0, 1,
                                                [
                                                    {offset: 0, color: '#83bff6'},
                                                    {offset: 0.5, color: '#188df0'},
                                                    {offset: 1, color: '#188df0'}
                                                ]
                                            )
                                        },
                                        emphasis: {
                                            color: new echarts.graphic.LinearGradient(
                                                0, 0, 0, 1,
                                                [
                                                    {offset: 0, color: '#2378f7'},
                                                    {offset: 0.7, color: '#2378f7'},
                                                    {offset: 1, color: '#83bff6'}
                                                ]
                                            )
                                        }
                                    },
                                    data: price
                                }]
                        };
                        myChart2.setOption(option);
                        window.onresize = function (){

                            myChart2.resize();
                        }

                    },
                    error:function () {
                        alert("请求失败");
                    }
                });
            });


            $(document).ready(function () {
				var cityname = $("#cityname").text();
				$.ajax({
                    url: '/city/'+cityname,
					type:'get',
                    dataType:'json',
                    success: function (data){
                        var json = data.area;
                        $(".location_area_ul").append('<li><a href="/city" style="font-family: 微软雅黑;font-weight: 200;color: #000000;width: 55px">'+"全部"+'</a></li> ');
                        for(var i=0;i<json.length;i++)
                        {
                           $(".location_area_ul").append('<li><a id="localarea" style="font-family: 微软雅黑;font-weight: 200;color: #000000;width: 55px">'+json[i].name+'<span value = "'+json[i].ID+'"class="hidden">'+'</span>'+'</a>'+'</li> ');
                        }
					},
					error: function (errorMsg) {
                        alert("请求失败");
                    }
                })
            });

            $(document).ready(function () {
				var name = $("#cityname").text();
				$.ajax({
					url:'/city/price/'+name,
					type: 'get',
					dataType:'json',
					success:function (data) {
						var json = data.priceList;
						var price = [];
						var time = [];
						for(var i = 0; i < json.length; i++ )
						{
						    price.push(json[i].price);
						    time.push(json[i].Time);
                        }
						// 历史走势图
                        var myChart1 = echarts.init(document.getElementById('main1'));
                        var option = {
                            title: {
                                text: name + '历史房价走势图',
                                left: 10
                            },
                            toolbox: {
                                feature: {
                                    dataZoom: {
                                        yAxisIndex: false
                                    },
                                }
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'shadow'
                                }
                            },
                            grid: {
                                bottom: 90
                            },
                            dataZoom: [{
                                type: 'inside'
                            }, {
                                type: 'slider'
                            }],
                            xAxis: {
                                data: time,
                                silent: false,
                                splitLine: {
                                    show: false
                                },
                                splitArea: {
                                    show: false
                                }
                            },
                            yAxis: {
                                splitArea: {
                                    show: false
                                }
                            },
                            series: [{
                                type: 'bar',
                                data: price
                            }]
                        };
                        myChart1.setOption(option);
                        window.onresize = function (){

                            myChart1.resize();
                        }
                    },
                    error:function (errorMsg) {
						alert("房价请求失败");
                    }
				});

				$.ajax({
					url:"/city/FirstPriceList/" + name,
					type:'get',
					dataType: 'json',
					success:function (data) {
							var json = data.result;
							console.log(json);
							var price = [];
							var name = [];
                        for(var i = 0; i < json.length; i++ )
                        {
                            price.push(json[i].price);
                            name.push(json[i].name);
                        }

                        var myChart2 = echarts.init(document.getElementById('main2'));
                        option = {
                            title: {
                                text:'区域房价对比图',
                            },
                            xAxis: {
                                data: name,
                                axisLabel: {
                                    inside: true,
                                    textStyle: {
                                        color: '#fff'
                                    }
                                },
                                axisTick: {
                                    show: false
                                },
                                axisLine: {
                                    show: false
                                },
                                z: 10
                            },
                            yAxis: {
                                axisLine: {
                                    show: false
                                },
                                axisTick: {
                                    show: false
                                },
                                axisLabel: {
                                    textStyle: {
                                        color: '#999'
                                    }
                                }
                            },
                            dataZoom: [
                                {
                                    type: 'inside'
                                }
                            ],
                            series: [
                                { // For shadow
                                    type: 'bar',
                                    itemStyle: {
                                        normal: {color: 'rgba(0,0,0,0.05)'}
                                    },
                                    barGap:'-100%',
                                    barCategoryGap:'40%',
                                    animation: false
                                },
                                {
                                    type: 'bar',
                                    itemStyle: {
                                        normal: {
                                            color: new echarts.graphic.LinearGradient(
                                                0, 0, 0, 1,
                                                [
                                                    {offset: 0, color: '#83bff6'},
                                                    {offset: 0.5, color: '#188df0'},
                                                    {offset: 1, color: '#188df0'}
                                                ]
                                            )
                                        },
                                        emphasis: {
                                            color: new echarts.graphic.LinearGradient(
                                                0, 0, 0, 1,
                                                [
                                                    {offset: 0, color: '#2378f7'},
                                                    {offset: 0.7, color: '#2378f7'},
                                                    {offset: 1, color: '#83bff6'}
                                                ]
                                            )
                                        }
                                    },
                                    data: price
                                }]
                        };
                        myChart2.setOption(option);
                        // window.onresize = function (){
						//
                        //     myChart2.resize();
                        // }

                    },
                    error:function () {
						alert("请求失败");
                    }
				})
            })

        })
	</script>
</html>
