<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>房价显示</title>
	</head>
	<script src="js/jquery-2.1.1.min.js" th:src="@{/js/jquery-2.1.1.min.js}"></script>
	<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>	
	<link rel="stylesheet" type="text/css" href="css/static_city.css" th:href="@{/css/static_city.css}"/>
	<link href="css/citystyle.css" th:href="@{/css/citystyle.css}" type="text/css" rel="stylesheet" />
	<script src="js/echarts.js" th:src="@{/js/echarts.js}"></script>
	<body>
	<!--城市列表-->
	<div class="selcity" id="allCity" style="display:none;">
		<table>
			<tbody>
			<tr>
				<td><a class="cur" href="#">苏州</a></td>
				<td><a href="#">上海</a></td>
				<td><a href="#">广州</a></td>
				<td><a href="#">深圳</a></td>
				<td><a href="#">重庆</a></td>
				<td><a href="#">西安</a></td>
			</tr>
			<tr>
				<td><a href="#">北京</a></td>
				<td><a href="#">南京</a></td>
				<td><a href="#">成都</a></td>
				<td><a href="#">武汉</a></td>
				<td><a href="#">杭州</a></td>
				<td><a href="#">济南</a></td>
			</tr>
			</tbody>
		</table>
		<div class="none"><a id="foldin" href="#">收起</a></div>
	</div>
	<!--导航栏-->
	<div class="container home_header">
		<div  id="headerbar" class="navbar navbar-default">
		    <div class="container">
		      <div class="navbar-header" style="margin-left: 100px;">
		        <a href="#" class="navbar-brand"></a>
		      </div>
		      <label id="toggle-label" class="visible-xs-inline-block" for="toggle-checkbox">MENU</label>
		      <input class="hidden" id="toggle-checkbox" type="checkbox">
		      <div class="hidden-xs">
		        <ul class="nav navbar-nav" style="font-family: '微软雅黑';color: #FFFFFF;">
		          <li><a th:href ="@{/}" style="font-family: '微软雅黑';color: #FFFFFF;font-weight: 600;">首页</a></li>
		          <li><a href="#" style="font-family: '微软雅黑';color: #FFFFFF;font-weight: 600;">二手房</a></li>
		          <li><a th:href="@{/city}" style="font-family: '微软雅黑';color: #FFFFFF;font-weight: 600;">历史房价</a></li>
		          <li><a th:href="@{/calculator}" style="font-family: '微软雅黑';color: #FFFFFF;font-weight: 600;">工具</a></li>
		          <li><a href="#" style="font-family: '微软雅黑';color: #FFFFFF;font-weight: 600;">问答</a></li>
				  <li class="i1"><a id = "cityname" value = "苏州" href="#" style="font-family: '微软雅黑';color: #FFFFFF;background: rgba(128,128,128,0.5)">苏州</a> </li>
                  <li class="i2" id="changeCity"><a href="#" style="font-family: '微软雅黑';color: #FFFFFF;font-style: italic;font-size:5px ">[切换城市]</a></li>
				</ul>
				  <ul th:if="${user} == null"class="nav navbar-nav navbar-right" th:style = "'margin-right:50px'">
					  <li><a th:href="@{/loginwin}" style="font-family: '微软雅黑';color: #FFFFFF;">登录</a></li>
					  <li><a th:href="@{/loginwin}" style="font-family: '微软雅黑';color: #FFFFFF;">注册</a></li>
				  </ul>
				  <ul th:if="${user} != null"class="nav navbar-nav navbar-right" th:style = "'margin-right:50px'">
					  <li><a th:text = "'您好,' + ${user.username}" style="font-family: '微软雅黑';color: #FFFFFF;"></a></li>
					  <li><a th:href="@{/logout}" style="font-family: '微软雅黑';color: #FFFFFF;">退出</a></li>
				  </ul>
		      </div>
		    </div>
		</div>
	</div>
	
	<!--网站标题-->
	<div class="container" >	
		<div class="row"style="margin:0;width:100%;text-align: center;">
			<div class=" jumbotron">
			  <h2>历史房价</h2>
			  <h5 style="color:#D8BFD8;">历史波动尽在掌握</h5>
			</div>
		</div>	
	</div>
	
	<!--选择框-->
	<div class="container">
		<!--location-->
		<div class="row" >
			<div class="col-sm-1"></div>
			<div class = "col-sm-10 location_title">
				<ul class="location_title_ul">
					<li><span style="font-weight: 600;font-size: 16px;">位置:</span></li>
					<li class="location_title_ul_li"><span style="font-weight: 400;font-size: 16px;">按区域<img th:src="@{/img/down.svg}" style="height: 12px;width:12px;"></img></li>
				</ul>
			</div>
			<div class="col-sm-1"></div>			
		</div>
		<!--area-->
		<div class="row" >
			<div class="col-sm-1"></div>
			<div class = "col-sm-10 location_area_title">
				<ul class="location_area_ul">			
				</ul>
			</div>
			<div class="col-sm-1"></div>			
		</div>
	</div>

	<!--数据展示-->
	<div class="container">
		<div class="row">
			<div class="col-sm-1" style="text-align: center">
			</div>
			<div id="main1" class="col-sm-10">
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>

	<!--对比数据展示-->
	<div class="container">
		<div class="row">
			<div class="col-sm-1" style="text-align: center">
			</div>
			<div id="main2" class="col-sm-10">
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
	</body>
	

    <script type="text/javascript">
        $(function(){
            /*城市切换*/
            $("#changeCity").click(function(a){
                $("#allCity").slideDown(300);
                a.stopPropagation();
                $(this).blur()
            });

            $("#allCity").click(function(a){
                a.stopPropagation()
            });

            $(document).click(function(a){
                a.button!=2&&$("#allCity").slideUp(300)
            });

            $("#foldin").click(function(){
                $("#allCity").slideUp(300)
            });

            /*点击切换区域*/
            $(document).on("click", "#localarea", function () {
                var name = this.text;
                var ID = $(this).find('span').attr('value');
                $.ajax({
                    url:'/city/priceByID/'+ID,
                    type: 'get',
                    dataType:'json',
                    success:function (data) {
                        var json = data.priceList;
                        console.log(json);
                        var price = [];
                        var time = [];
                        for(var i = 0; i < json.length; i++ )
                        {
                            price.push(json[i].price);
                            time.push(json[i].Time);
                        }
                        // 历史走势图
                        var myChart1 = echarts.init(document.getElementById('main1'));
                        var option = {
                            title: {
                                text: name + '历史房价走势图',
                                left: 10
                            },
                            toolbox: {
                                feature: {
                                    dataZoom: {
                                        yAxisIndex: false
                                    },
                                }
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'shadow'
                                }
                            },
                            grid: {
                                bottom: 90
                            },
                            dataZoom: [{
                                type: 'inside'
                            }, {
                                type: 'slider'
                            }],
                            xAxis: {
                                data: time,
                                silent: false,
                                splitLine: {
                                    show: false
                                },
                                splitArea: {
                                    show: false
                                }
                            },
                            yAxis: {
                                splitArea: {
                                    show: false
                                }
                            },
                            series: [{
                                type: 'bar',
                                data: price
                            }]
                        };
                        myChart1.setOption(option);
                        window.onresize = function (){

                            myChart1.resize();
                        }
                    },
                    error:function (errorMsg) {
                        alert("房价请求失败");
                    }
                });

                $.ajax({
                    url:"/city/FirstPriceList/" + name,
                    type:'get',
                    dataType: 'json',
                    success:function (data) {
                        var json = data.result;
                        console.log(json);
                        var price = [];
                        var name = [];
                        for(var i = 0; i < json.length; i++ )
                        {
                            price.push(json[i].price);
                            name.push(json[i].name);
                        }

                        var myChart2 = echarts.init(document.getElementById('main2'));
                        option = {
                            title: {
                                text:'区域房价对比图',
                            },
                            xAxis: {
                                data: name,
                                axisLabel: {
                                    inside: true,
                                    textStyle: {
                                        color: '#fff'
                                    }
                                },
                                axisTick: {
                                    show: false
                                },
                                axisLine: {
                                    show: false
                                },
                                z: 10
                            },
                            yAxis: {
                                axisLine: {
                                    show: false
                                },
                                axisTick: {
                                    show: false
                                },
                                axisLabel: {
                                    textStyle: {
                                        color: '#999'
                                    }
                                }
                            },
                            dataZoom: [
                                {
                                    type: 'inside'
                                }
                            ],
                            series: [
                                { // For shadow
                                    type: 'bar',
                                    itemStyle: {
                                        normal: {color: 'rgba(0,0,0,0.05)'},
                                        label:
											{
											    show:true,
												position:'top',

											}
                                    },
                                    barGap:'-100%',
                                    barCategoryGap:'40%',
                                    animation: false
                                },
                                {
                                    type: 'bar',
                                    itemStyle: {
                                        label:
											{
                                                show:true,
                                                position:'top',
											},
                                        normal: {
                                            color: new echarts.graphic.LinearGradient(
                                                0, 0, 0, 1,
                                                [
                                                    {offset: 0, color: '#83bff6'},
                                                    {offset: 0.5, color: '#188df0'},
                                                    {offset: 1, color: '#188df0'}
                                                ]
                                            )
                                        },
                                        emphasis: {
                                            color: new echarts.graphic.LinearGradient(
                                                0, 0, 0, 1,
                                                [
                                                    {offset: 0, color: '#2378f7'},
                                                    {offset: 0.7, color: '#2378f7'},
                                                    {offset: 1, color: '#83bff6'}
                                                ]
                                            )
                                        }
                                    },
                                    data: price
                                }]
                        };
                        myChart2.setOption(option);
                        window.onresize = function (){

                            myChart2.resize();
                        }

                    },
                    error:function () {
                        alert("请求失败");
                    }
                });
            });


            $(document).ready(function () {
				var cityname = $("#cityname").text();
				$.ajax({
                    url: '/city/'+cityname,
					type:'get',
                    dataType:'json',
                    success: function (data){
                        var json = data.area;
                        $(".location_area_ul").append('<li><a href="/city" style="font-family: 微软雅黑;font-weight: 200;color: #000000;width: 55px">'+"全部"+'</a></li> ');
                        for(var i=0;i<json.length;i++)
                        {
                           $(".location_area_ul").append('<li><a id="localarea" style="font-family: 微软雅黑;font-weight: 200;color: #000000;width: 55px">'+json[i].name+'<span value = "'+json[i].ID+'"class="hidden">'+'</span>'+'</a>'+'</li> ');
                        }
					},
					error: function (errorMsg) {
                        alert("请求失败");
                    }
                })
            });

            $(document).ready(function () {
				var name = $("#cityname").text();
				$.ajax({
					url:'/city/price/'+name,
					type: 'get',
					dataType:'json',
					success:function (data) {
						var json = data.priceList;
						var price = [];
						var time = [];
						for(var i = 0; i < json.length; i++ )
						{
						    price.push(json[i].price);
						    time.push(json[i].Time);
                        }
						// 历史走势图
                        var myChart1 = echarts.init(document.getElementById('main1'));
                        var option = {
                            title: {
                                text: name + '历史房价走势图',
                                left: 10
                            },
                            toolbox: {
                                feature: {
                                    dataZoom: {
                                        yAxisIndex: false
                                    },
                                }
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'shadow'
                                }
                            },
                            grid: {
                                bottom: 90
                            },
                            dataZoom: [{
                                type: 'inside'
                            }, {
                                type: 'slider'
                            }],
                            xAxis: {
                                data: time,
                                silent: false,
                                splitLine: {
                                    show: false
                                },
                                splitArea: {
                                    show: false
                                }
                            },
                            yAxis: {
                                splitArea: {
                                    show: false
                                }
                            },
                            series: [{
                                type: 'bar',
                                data: price
                            }]
                        };
                        myChart1.setOption(option);
                        window.onresize = function (){

                            myChart1.resize();
                        }
                    },
                    error:function (errorMsg) {
						alert("房价请求失败");
                    }
				});

				$.ajax({
					url:"/city/FirstPriceList/" + name,
					type:'get',
					dataType: 'json',
					success:function (data) {
							var json = data.result;
							console.log(json);
							var price = [];
							var name = [];
                        for(var i = 0; i < json.length; i++ )
                        {
                            price.push(json[i].price);
                            name.push(json[i].name);
                        }

                        var myChart2 = echarts.init(document.getElementById('main2'));
                        option = {
                            title: {
                                text:'区域房价对比图',
                            },
                            xAxis: {
                                data: name,
                                axisLabel: {
                                    inside: true,
                                    textStyle: {
                                        color: '#fff'
                                    }
                                },
                                axisTick: {
                                    show: false
                                },
                                axisLine: {
                                    show: false
                                },
                                z: 10
                            },
                            yAxis: {
                                axisLine: {
                                    show: false
                                },
                                axisTick: {
                                    show: false
                                },
                                axisLabel: {
                                    textStyle: {
                                        color: '#999'
                                    }
                                }
                            },
                            dataZoom: [
                                {
                                    type: 'inside'
                                }
                            ],
                            series: [
                                { // For shadow
                                    type: 'bar',
                                    itemStyle: {
                                        normal: {color: 'rgba(0,0,0,0.05)'}
                                    },
                                    barGap:'-100%',
                                    barCategoryGap:'40%',
                                    animation: false
                                },
                                {
                                    type: 'bar',
                                    itemStyle: {
                                        normal: {
                                            color: new echarts.graphic.LinearGradient(
                                                0, 0, 0, 1,
                                                [
                                                    {offset: 0, color: '#83bff6'},
                                                    {offset: 0.5, color: '#188df0'},
                                                    {offset: 1, color: '#188df0'}
                                                ]
                                            )
                                        },
                                        emphasis: {
                                            color: new echarts.graphic.LinearGradient(
                                                0, 0, 0, 1,
                                                [
                                                    {offset: 0, color: '#2378f7'},
                                                    {offset: 0.7, color: '#2378f7'},
                                                    {offset: 1, color: '#83bff6'}
                                                ]
                                            )
                                        }
                                    },
                                    data: price
                                }]
                        };
                        myChart2.setOption(option);
                        // window.onresize = function (){
						//
                        //     myChart2.resize();
                        // }

                    },
                    error:function () {
						alert("请求失败");
                    }
				})
            })

        })
	</script>
</html>
