<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meng.anjia.dao.MapPointDao">
        <!--按城市查询所有名称-->
    <select id="findAllMap"  parameterType="string" resultType="int">
      select count(*) from place where name = #{name}
    </select>
</mapper>